body{
    font-family: 'ubuntu', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1574302833650-e91c6ec31969?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwYW5kJTIwdmlvbGV0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.nav-link:hover{
    background-color: aliceblue;
   transition-property: all;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 50px;
    height: 40px;
    background: azure;
    opacity: .75;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 15px;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: aquamarine;
    opacity: 0.75;
}

.clock
@media (max-width: 768px) { 
    width: 100px;
    height: 80px;
    font-size: 50px;
     }
