body{
    font-family: 'ubuntu', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1574302833650-e91c6ec31969?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cHVycGxlJTIwYW5kJTIwdmlvbGV0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow: auto;
}

.form{
    justify-content: center;
}

.nav-link:hover{
    background:rgba(255, 255, 255, 0.473);
   transition-property: all ease;
   transform-origin: center;
}

.clock{
    justify-content: center;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 80px;
    height: 70px;
    background: azure;
    opacity: .70;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 20px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(189, 137, 186);
    opacity: 0.75;
    font-weight: 600;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(21, 160, 79);
    color: rgb(255, 255, 255);
}